# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.idea

.env
.coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

public
htmlcov
templates

src/styles/chat.css
postgres-data
__pycache__